.menubar {
  background-color: rgb(59, 32, 198);
  padding-left: 16px;
  padding-right: 16px;
}

.toolbar {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.drawer {
  background-color: rgb(59, 32, 198);
  width: 300px;
  color: white;
}

.listGroup {
  padding: 0;
}

.listGroup span {
  font-weight: bold;
}