* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}

body {
  font-size: 14px;
}

.firstContainer .box {
  margin: 0 auto;
}

.secondContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdContainer {
  display: grid;
  place-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #1ba1fc;
  margin: 25px;
}
